<h3>big pimp page</h3>

<p>
<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
</p>