<h3>Add a new post</h3>

<p>
<form  action="/new" method="POST" role ="form">
    <textarea class="form-control" rows="6" placeholder="type something worth posting :)"></textarea>
  	</br>
 	 <button type="submit" class="btn btn-info">Submit</button>
</form>
</p>